<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper.dll" version="3.3.1" targetFramework="net462" />
  <package id="AutoMapper.Net4.dll" version="3.3.1" targetFramework="net462" />
  <package id="Billing.Paypal" version="1.0.0.0" targetFramework="net48" />
  <package id="Castle.Core.dll" version="3.3.3.58" targetFramework="net462" />
  <package id="Castle.Windsor.dll" version="3.3.0.51" targetFramework="net462" />
  <package id="Common.Logging.Core.dll" version="3.0.0" targetFramework="net462" />
  <package id="Common.Logging.dll" version="3.0.0" targetFramework="net462" />
  <package id="Common.Logging.Log4Net1213.dll" version="3.0.0" targetFramework="net462" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net472" />
  <package id="DnsClient" version="1.2.0" targetFramework="net472" />
  <package id="DnsClient.dll" version="1.0.7" targetFramework="net462" />
  <package id="Elasticsearch.Net.dll" version="5.5.0" targetFramework="net462" />
  <package id="EntityFramework.dll" version="6.1.31219" targetFramework="net462" />
  <package id="EntityFramework.SqlServer.dll" version="6.1.31219" targetFramework="net462" />
  <package id="FluentValidation.dll" version="7.3.4" targetFramework="net462" />
  <package id="Linq2Rest.dll" version="3.3.4" targetFramework="net462" />
  <package id="log4net.dll" version="1.2.13" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.Client.dll" version="2.2.50714.869" targetFramework="net472" />
  <package id="Microsoft.CodeCoverage" version="16.4.0" targetFramework="net472" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.10.0" targetFramework="net462" />
  <package id="Microsoft.NET.Test.Sdk" version="16.4.0" targetFramework="net472" />
  <package id="Microsoft.Owin.dll" version="3.0.40213.64" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener.dll" version="3.0.40213.64" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting.dll" version="3.0.40213.64" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.dll" version="3.0.40213.64" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll" version="16.0.28621.142" targetFramework="net462" />
  <package id="mongocsharpdriver" version="2.9.3" targetFramework="net472" />
  <package id="MongoDB.Bson" version="2.9.3" targetFramework="net472" />
  <package id="MongoDB.Bson.dll" version="2.7.0" targetFramework="net462" />
  <package id="MongoDB.Driver" version="2.9.3" targetFramework="net472" />
  <package id="MongoDB.Driver.Core" version="2.9.3" targetFramework="net472" />
  <package id="MongoDB.Driver.Core.dll" version="2.7.0" targetFramework="net462" />
  <package id="MongoDB.Driver.dll" version="2.7.0" targetFramework="net462" />
  <package id="MongoDB.Driver.Legacy.dll" version="2.7.0" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="2.0.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json.dll" version="9.0.1.19813" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.15.1" targetFramework="net472" />
  <package id="Owin.dll" version="1.0.0" targetFramework="net462" />
  <package id="Quartz.dll" version="2.3.3" targetFramework="net462" />
  <package id="RabbitMQ.Client.dll" version="3.5.6" targetFramework="net462" />
  <package id="RazorEngine.dll" version="3.7.7" targetFramework="net462" />
  <package id="RestSharp.dll" version="105.2.3" targetFramework="net462" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net472" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net472" />
  <package id="StackExchange.Redis.StrongName.dll" version="1.2.6" targetFramework="net462" />
  <package id="Swashbuckle.Core.dll" version="1.0.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Net.Http.dll" version="4.6.25220.1" targetFramework="net462" />
  <package id="System.Net.Http.Formatting.dll" version="5.2.30128" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation.dll" version="1.0.24212.1" targetFramework="net462" />
  <package id="System.Web.Cors.dll" version="5.2.30128" targetFramework="net462" />
  <package id="System.Web.Http.Cors.dll" version="5.2.30128" targetFramework="net462" />
  <package id="System.Web.Http.dll" version="5.2.30128" targetFramework="net462" />
  <package id="System.Web.Http.Owin.dll" version="5.2.30128" targetFramework="net462" />
  <package id="System.Web.Razor.dll" version="3.0.30128" targetFramework="net462" />
  <package id="Trupanion.Billing.Api" version="1.0.19323.3" targetFramework="net472" />
  <package id="Trupanion.Billing.ApiClient" version="1.0.19323.3" targetFramework="net472" />
  <package id="Trupanion.Billing.Cors" version="1.0.19323.3" targetFramework="net472" />
  <package id="Trupanion.Billing.HostedPages" version="1.0.19323.3" targetFramework="net472" />
  <package id="Trupanion.Billing.Zuora.Common" version="1.0.19323.3" targetFramework="net472" />
  <package id="Trupanion.LegacyPlatform.Client" version="4.0.19319.3" targetFramework="net472" />
  <package id="Trupanion.LegacyPlatform.Constants" version="4.0.19319.3" targetFramework="net472" />
  <package id="Trupanion.LegacyPlatform.Contracts" version="4.0.19319.3" targetFramework="net472" />
  <package id="Trupanion.Test.QALib.WebServices.Client" version="1.1.19316.1" targetFramework="net472" />
  <package id="Trupanion.Test.QALib.WebServices.Contracts" version="1.1.19316.1" targetFramework="net472" />
  <package id="Trupanion.TruBiz.Constants" version="2.1.19317.1" targetFramework="net472" />
  <package id="Trupanion.TruFoundation" version="2.1.19331.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.DbProvider.SqlServer" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.EnterpriseApplication.Logging" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.EnterpriseCatalog" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.Messaging.RabbitMq" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.Owin" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.Redis" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.Repository.EntityFramework" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.Repository.MongoDb" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.Repository.RestService" version="2.1.19331.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.RestClient" version="2.1.19331.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.RestService" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.RestService.SelfHost" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.Runtime" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.TestTools" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.TruDTC" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.WindowsServiceApp" version="2.1.19325.2" targetFramework="net472" />
  <package id="Trupanion.TruFoundation.Workflow.Client" version="2.1.19331.2" targetFramework="net472" />
  <package id="WebApiThrottle.StrongName.dll" version="1.5.1.8" targetFramework="net462" />
</packages>