<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BillingTestCommon.BillingTestCommonSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.24.0.0" newVersion="0.24.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <BillingTestCommon.BillingTestCommonSettings>
      <setting name="PromoCodeUsaCanada" serializeAs="String">
        <value>PVC413</value>
      </setting>
      <setting name="PromoCodeAustralia" serializeAs="String">
        <value>AUCAT1902</value>
      </setting>
      <setting name="TrxToHtmlTool" serializeAs="String">
        <value>TrxerConsole.exe</value>
      </setting>
      <setting name="TestResultTempFilePrefix" serializeAs="String">
        <value>BillingTest</value>
      </setting>
      <setting name="VSIDEFolder" serializeAs="String">
        <value>Microsoft Visual Studio\2017\Enterprise</value>
      </setting>
      <setting name="TestResultFolder" serializeAs="String">
        <value>BillingTestResults</value>
      </setting>
      <setting name="TestResultMachine" serializeAs="String">
        <value>billingtest</value>
      </setting>
      <setting name="TestEnv" serializeAs="String">
        <value>Test</value>
      </setting>
      <setting name="BankAccountNumberCA" serializeAs="String">
        <value>0025700257</value>
      </setting>
      <setting name="BankRoutineNumberUS" serializeAs="String">
        <value>125000024</value>
      </setting>
      <setting name="SaveUsaBankAccountBillingAccountId" serializeAs="String">
        <value>633000</value>
      </setting>
      <setting name="EmailTestResults" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailTestResultsFrom" serializeAs="String">
        <value>test.emial.auto@trupanion.com</value>
      </setting>
      <setting name="EmailTestResultsTo" serializeAs="String">
        <value>yunfeng.ma@trupanion.com</value>
      </setting>
    </BillingTestCommon.BillingTestCommonSettings>
  </applicationSettings>
</configuration>